.flex-container {
	display: flex;
	flex-direction: column;
}

.flex-container > div {
	background-color: #f0f0f0;
	margin: 30px;
	padding: 20px;

}

input[type=text] {
	width:35%;
	height: 60px;
	border: 3px solid #ccc;
	padding-left: 15px;
	padding-right: 15px;
	margin: auto;
	transition: width 0.5s ease-in-out;
}

input[type=text]:focus {
	width: 100%;
	margin: auto;
}
